body {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.fetching {
    width: 20%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.8);
    color: #222;
}

#dataLoading {
    background-color: rgb(53, 220, 69);
}

#error {
    background-color: rgb(220, 53, 69);
}

#recipes {
    /* border: 2px solid red; */
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.paginator {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.inner-box {
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(249, 251, 255, 0.7);
    color: #111;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.btns:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

.btns:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}

.display {
    display: flex;
    background-color: rgba(249, 251, 255, 0.7);
    color: #111;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.limits {
    display: flex;
    align-items: center;
    padding: 12px 4px;
}