body{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.fetching{
    /* border: 1px solid black; */
    width: 20%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0,0.8);
    color: #222;
}
#dataLoading{
    background-color:rgb(53, 220, 69);
}
#error{
    background-color: rgb(220, 53, 69);
}
#recipes{
    /* border: 2px solid red; */
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}